<!DOCTYPE html>
<html>
<head>
  <title>Fivetwo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "fivetwo/application", media: "all" %>
  <%= javascript_include_tag "fivetwo/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
